header {
  padding: 30px;
  background-color: rgba(213, 213, 213, 0.548);
}

nav {
  position: center;
  background-color: rgba(213, 213, 213, 0.548);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 10rme;
}

p {
  padding: 0px, 80px, 0px, 80px;
}

.titulo-1 {
  text-align: center;
  font-size: 96px;
  font-weight: bold;
}

.banner {
  padding: 90px 0px 90px 0px;
  background-color: rgba(213, 213, 213, 0.548);
}

body {
  font-family: "Courier Prime", monospace;
  font-family: "Playfair Display", serif;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

ul li {
  list-style: none;
  font-size: 1.3rem;
  position: relative;
  display: inline;
  padding: 0%;
  margin: 0%;
}
ul li a {
  color: black;
  text-decoration: none;
  padding: 50px;
}

.titulos {
  padding: 10px;
  font-size: 4rem;
  text-align: center;
}

.bannerservicios {
  background-image: url(../img/pexels-daan-stevens-939331.jpg);
  padding: 90px;
}

.primeraseccion {
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: contents;
}

/*Primera seccion */
.sobre-nosotros {
  display: flex;
  padding: 120px, 0px, 90px, 0px;
  display: flex;
  margin: 120px;
}

.descripcion1 {
  padding: 90px 90px 90px 90px;
  width: 50%;
  box-sizing: border-box;
  min-width: 250px;
  vertical-align: middle;
}

.imagen1 {
  width: 40%;
}

.seccion-imagenes {
  position: inherit;
  width: 20%;
}

/* secunda seccion*/
.comentario {
  padding: 50px, 50px, 50px, 50px;
  margin: 90px;
  font-size: 2rem;
  width: 100%;
}

.fondo-comentario {
  background-color: aliceblue;
}

/*tercera seccion*/
.descripcion2 {
  padding-right: 70px;
  padding-left: 70px;
}

.algunos-servicios {
  display: flex;
}

.imagendibujo {
  border-radius: 7%;
  width: 500px;
  height: 333px;
}

.container-flex {
  border: 1px rgb(179, 179, 179);
  display: flex;
  padding: 20px;
  justify-content: center;
}

.caja {
  border: 1px solid rgb(162, 162, 162);
  background-color: aliceblue;
  color: black;
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.c1 {
  border: 1px solid rgb(162, 162, 162);
  background-image: url(../img/imagen\ 2.jpg);
  color: black;
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin: 5px;
}

.c2 {
  border: 1px solid rgb(162, 162, 162);
  background-image: url(../img/chica\ 1\ .jpg);
  color: black;
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin: 5px;
}

.c3 {
  border: 1px solid rgb(162, 162, 162);
  background-image: url(../img/imagen\ 3.jpg);
  color: black;
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin: 5px;
}

.flxbox {
  background-color: rgba(213, 213, 213, 0.548);
}

.bannernosotros {
  background-image: url(../img/pexels-daan-stevens-939331.jpg);
  padding: 90px;
}

.imagen-servicios {
  border-radius: 7%;
  width: 50%;
  height: 50%;
}

.bannerportafolio {
  background-image: url(../img/pexels-daan-stevens-939331.jpg);
  padding: 90px;
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.img-portafolio {
  width: 25%;
}

@media screen and (max-width: 1100px) {
  .titulo-1 {
    text-align: center;
    font-size: 9vw;
    font-weight: bold;
  }
  .segundotexto {
    text-align: center;
    font-size: 5vw;
    font-weight: 400;
  }
  .titulos {
    padding: 10px;
    font-size: 9vw;
    text-align: center;
  }
  .imagen-servicios {
    border-radius: 7%;
    width: 100%;
    height: 100%;
  }
  .img-portafolio {
    width: 45%;
    padding: 10;
    margin: 5px;
  }
}
@media screen and (max-width: 1100px) {
  .descripcion1 {
    background-color: rgb(245, 245, 228);
    padding: 20px;
    width: 100%;
    font-size: 4vw;
  }
  .imagen1 {
    width: 100%;
  }
  .comentario {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    font-size: 4vw;
    width: 100%;
  }
  .algunos-servicios {
    width: 100%;
    padding: 5px;
  }
  .descripcion2 {
    padding: 20px;
    margin: 20px;
    width: 100%;
    font-size: 4vw;
  }
  .imagendibujo {
    width: 100%;
  }
  .c1 {
    border: 1px solid rgb(162, 162, 162);
    background-image: url(../img/imagen\ 2.jpg);
    color: black;
    width: 46%;
    height: 400px;
    line-height: 400px;
    text-align: center;
    margin: 5px;
    font-size: 5vw;
  }
  .c2 {
    border: 1px solid rgb(162, 162, 162);
    background-image: url(../img/chica\ 1\ .jpg);
    color: black;
    width: 46%;
    height: 400px;
    line-height: 400px;
    text-align: center;
    margin: 5px;
    font-size: 5vw;
  }
  .c3 {
    border: 1px solid rgb(162, 162, 162);
    background-image: url(../img/imagen\ 3.jpg);
    color: black;
    width: 100%;
    height: 400px;
    line-height: 400px;
    text-align: center;
    margin: 5px;
    font-size: 5vw;
  }
}

/*# sourceMappingURL=estilos.css.map */
